@charset "UTF-8";

/* Todas as demais medias */

@media print {
    #celular {
        display: none;
    }

    #impressora {
        display: block;
    }

    main {
        border: 1px solid black;
    }

    h1 {
        font-family: 'Courier New', Courier, monospace;
    }

    main::after{
        content: "Estou aprendendo desenvolvimento web";
    }

}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url("../imagens/back-tablet.jpg");

    }

    #celular {
        display: none;
    }

    #impressora {
        display: block;
    }

}

@media screen and (min-width: 992px) and (max-width: 1200px) {

    body {
        background-image: url("../imagens/back-pc.jpg");
    }

    #celular {
        display: none;
    }

    #pc {
        display: block;
    }

}

@media screen and (min-width: 1200px) {

    body {
        background-image: url("../imagens/back-tv.jpg");
    }

    #celular {
        display: none;
    }

    #tv {
        display: block;
    }

}